#topNav {
    height: 130px;
    background-color: #3c1e5f;
}

#topNavContent {
    position: relative;
    margin: 0 auto;
    width: 1250px;
    padding-top: 30px;
}

#bottomNav {
    height: 50px;
    border-width: 0.5px;
    border-color: #cdd1c7;
    border-bottom-style: solid;
}

#bottomNavContent {
    width: 1250px;
    position: relative;
    margin: 0 auto;
}

#bottomNavLeftContent {
    float: left;
    width: 500px;
}

#bottomNavRightContent {
    float: right;
    width: 500px;
}

#contentDiv {
    width: 1250px;
    position: relative;
    margin: 0 auto;
}

#leftMenuDiv {
    margin-top: 20px;
    width: 250px;
    float: left;
}

#rightContentDiv {
    margin-top: 20px;
    width: 1300px;
}

#cardDiv {
    width: 1250px;
    height: 2000px;
}

.card.text-center {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f9f7f6;
}

.btn-primary {
    background-color: #c1daf3 !important; 
    color: #484a46 !important; 
    border-style: none; 
    font-weight: bold;
    border-radius: 0 !important;
}